.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
out/test/**
*.vsix
.git/**
.github/**
CLAUDE.md
PUBLISH.md
TODO.md
README_ja.md
yarn.lock
package-lock.json
tmp/
screencast.gif
icon256.png